{% comment %}Thirteen verified hadiths on the virtue of Darood, shown as a ticker.{% endcomment %}
<span class="hadith-item"><span class="t">جو شخص مجھ پر ایک بار درود بھیجے، اللہ تعالیٰ اس پر دس رحمتیں نازل فرماتا ہے۔</span><span class="ref">صحیح مسلم 384</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">جو شخص مجھ پر ایک بار درود بھیجے، اللہ اس پر دس رحمتیں نازل فرماتا ہے، دس گناہ معاف کرتا ہے اور دس درجات بلند فرماتا ہے۔</span><span class="ref">سنن نسائی 1297</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">قیامت کے دن لوگوں میں سب سے زیادہ میرے قریب وہ ہوگا جس نے مجھ پر سب سے زیادہ درود بھیجا ہو۔</span><span class="ref">جامع ترمذی 484</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">اصل بخیل وہ ہے جس کے سامنے میرا ذکر کیا جائے اور وہ مجھ پر درود نہ بھیجے۔</span><span class="ref">جامع ترمذی 3546</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">اللہ تعالیٰ کے کچھ فرشتے زمین میں سیر کرتے پھرتے ہیں اور میری امت کا سلام مجھ تک پہنچاتے ہیں۔</span><span class="ref">سنن نسائی 1282</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">جو مجھے سلام بھیجتا ہے، اللہ میری روح مجھے لوٹا دیتا ہے یہاں تک کہ میں اس کے سلام کا جواب دیتا ہوں۔</span><span class="ref">سنن ابی داؤد 2041</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">جمعہ کے دن مجھ پر کثرت سے درود بھیجا کرو، کیونکہ تمہارا درود مجھ پر پیش کیا جاتا ہے۔</span><span class="ref">سنن ابی داؤد 1047</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">جو مسلمان مجھ پر درود بھیجتا ہے، فرشتے اس پر اس وقت تک درود بھیجتے رہتے ہیں جب تک وہ درود بھیجتا رہے۔</span><span class="ref">سنن ابن ماجہ 907</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">جو شخص میری امت میں سے مجھ پر ایک بار درود بھیجے گا، اللہ اس کے لیے دس نیکیاں لکھے گا اور دس درجات بلند کرے گا۔</span><span class="ref">مسند احمد</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">اللّٰهُمَّ صَلِّ عَلَىٰ مُحَمَّدٍ وَّعَلَىٰ آلِ مُحَمَّدٍ کَمَا صَلَّیْتَ عَلَىٰ آلِ اِبْرَاهِیْمَ</span><span class="ref">صحیح بخاری 6357</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">جب دعا کرے تو پہلے اپنے رب کی حمد و ثنا بیان کرے، پھر نبی ﷺ پر درود بھیجے، اس کے بعد جو چاہے مانگے۔</span><span class="ref">جامع ترمذی 3476</span></span>
<span class="hadith-star">۞</span>
<span class="hadith-item"><span class="t">اذان کے بعد مجھ پر درود بھیجو، پھر میرے لیے وسیلہ مانگو؛ جو میرے لیے وسیلہ مانگے گا اس کے لیے میری شفاعت واجب ہو جائے گی۔</span><span class="ref">جامع ترمذی 3614</span></span>
<span class="hadith-star">۞</span>
